/* RESET */

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GLOBAL */

html{
    scroll-behavior: smooth;
    scroll-padding-top: 200px;
    min-width: 320px;
    min-height: 100%;
}

body{
    background-color: hsl(0, 0%, 5%);
    min-width: 320px;
    min-height: 100%;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

main{
    width: 100%;
    padding-top: 80px;

    display: flex;
    flex-direction: column;
}

.section-animation{
    animation: appear linear;
    animation-timeline: view();
}

/* NAVBAR */

.navbar{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    z-index: 1000;

    display: flex;
    justify-content: center;

    padding-top: 10px;
}

.navbar ul{
    display: flex;

    list-style-type: none;

    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 50px;

    background-color: black;

    padding: 2px;
    margin: 2px;
}

.navbar li{
    font-weight: 400;
}

.navbar a{
    color: hsl(0, 0%, 95%);
    text-decoration: none;

    display: flex;
    justify-content: center;

    padding: 15px;
}

.navbar a:hover{
    color: hsl(0, 0%, 60%);
}

/* INTRODUCTION */

#introductionDiv{
    min-height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 100px 20px;
    gap: 100px;
}

.intro-text{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#introductionDiv h1,
#introductionDiv h3{
    font-weight: 600;
}

#introductionDiv h1{
    color: white;
    font-size: 5em;
}

#introductionDiv h3{
    color: hsl(0, 0%, 40%);
    font-size: 2em;
}

#LinkedInPic{
    width: 500px;
    border: 1px solid black;
    border-radius: 50px;
}

/* ABOUT */

#aboutMeSection{
    background-color: #1a1a1a;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    animation-range: entry 0 cover 40%;
}

#aboutMeSection div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#subDivSection1{
    width: 100%;

    flex-direction: column;

    color: white;
    text-align: center;

    gap: 25px;
    padding: 25px;

    font-weight: 700;
}

#subDivSection1 h2{
    font-size: 50px;
}

#subDivSection1 p{
    font-size: 25px;
}

#subDivSection2{
    width: 100%;
    max-width: 1200px;

    display: flex;
    flex-direction: row-reverse;

    column-gap: 50px;

    padding: 10px 20px 50px;
}

#neonPixelGifCoding{
    width: 450px;

    border-radius: 20px;
}

#subDivSection2ParSection{
    min-width: 50%;

    display: flex;
    flex-direction: column;

    color: white;

    font-size: 20px;
    font-weight: 700;

    gap: 25px;
}

#subDivSection2ParSection p{
    line-height: 1.5;
    margin: 10px;
}

/* PROJECTS */

#projectSection{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    animation-range: entry 0 cover 30%;
}

#sub-div-project-section-1{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;

    gap: 15px;
    padding-top: 25px;

    font-size: 20px;
    font-weight: 700;
}

#sub-div-project-section-1 h2{
    font-size: 50px;
}

#sub-div-project-section-1 p{
    font-size: 25px;
}

#sub-div-project-section-2{
    width: 100%;
}

.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 25px;

    color: white;
}

.project-title{
    font-size: 25px;
}

.projects{
    display: flex;

    padding: 50px;
    column-gap: 50px;
}

.projects p{
    margin: 10px;
}

#project-num-1{
    flex-direction: row-reverse;
}

.project-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#SimuloSS{
    width: 500px;

    border: 2px solid black;
    border-radius: 10px;
}

#STS-Images-Container{
    display: flex;

    overflow-x: auto;
    white-space: nowrap;

    gap: 10px;
    padding: 10px;

    max-width: 700px;

    scrollbar-width: none;

    border-radius: 10px;
}

#STS-Images-Container img{
    width: 600px;

    flex-shrink: 0;

    border-radius: 10px;

    animation: autoscroll 10s linear infinite alternate;
}

/* CONTACT */

#contact-me{
    background-color: #1a1a1a;

    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    animation-range: entry 0 cover 40%;
}

#contact-me-div{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
    text-align: center;

    padding: 25px;
    gap: 10px;
}

#contact-me-div h2{
    font-size: 50px;
}

#contact-me-div p{
    font-size: 25px;
}

#contact-div{
    width: 100%;
    max-width: 1200px;

    display: flex;

    gap: 35px;
    margin: 25px;

    color: white;
}

#contact-me-info{
    min-width: 50%;

    display: flex;
    flex-direction: column;

    gap: 15px;
}

#contact-me-info h3{
    font-size: 30px;
}

#contact-me-info p{
    font-size: 18px;
    line-height: 1.5;
}

#social-icons{
    display: flex;
    justify-content: space-around;

    margin-top: 20px;

    font-size: 40px;
}

#div-form{
    min-width: 50%;
}

#form{
    display: flex;
    flex-direction: column;

    gap: 20px;
    padding: 25px;
}

.form-group{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    gap: 5px;
}

.form-group input,
.form-group textarea{
    width: 100%;
    height: 35px;

    border: 0.5px solid black;
    border-radius: 5px;

    padding-left: 10px;

    font-weight: 600;

    color: black;
}

textarea{
    height: 100px !important;
    padding-top: 10px;
}

::placeholder{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    font-size: 14px;
}

#submit{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    width: 25%;
    height: 45px;

    border: 2px solid black;
    border-radius: 5ch;

    font-weight: 500;

    color: black;
}

/* ICONS */

.fa-github{
    font-size: 40px;
    color: white;
}

.fa-square-linkedin{
    color: #0A66C2;
}

.fa-instagram{
    color: #C13584;
}

.fa-brands:hover, 
.fa-github:hover{
    transform: scale(1.1);
}

.fa-brands:active,
a:active,
#submit:active,
.fa-github:active{
    transform: scale(0.95);
}

/* ANIMATIONS */

@keyframes appear{
    from{
        opacity: 0;
        scale: 0.75;
    }

    to{
        opacity: 1;
        scale: 1;
    }
}

@keyframes autoscroll{
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-1800px);
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1200px){

    #introductionDiv{
        flex-direction: column;

        gap: 50px;

        padding-bottom: 50px;

        min-height: calc(100vh - 80px);
    }

    #aboutMeSection{
        padding-top: 50px;
    }

    #subDivSection2{
        flex-direction: column;

        text-align: center;

        gap: 50px;
    }

    #project-num-1,
    #project-num-2{
        flex-direction: column;

        align-items: center;
        text-align: center;

        gap: 20px;

        padding-left: 20px;
        padding-right: 20px;
    }

    #LinkedInPic,
    #SimuloSS,
    #neonPixelGifCoding,
    #STS-Images-Container img{
        width: 90%;
        max-width: 450px;
        height: auto;
    }

    #contact-div{
        flex-direction: column;
        align-items: center;

        width: 100%;

        padding: 50px;

        gap: 40px;
    }

    #contact-me-div,
    #div-form,
    #submit{
        width: 100%;
        min-width: 90%;

        text-align: center;
    }

    #social-icons{
        justify-content: center;
        gap: 30px;
    }
}